$ds-gray-000: var(--attraction-ds-gray-000);
$ds-gray-050: var(--attraction-ds-gray-050);
$ds-gray-100: var(--attraction-ds-gray-100);
$ds-gray-200: var(--attraction-ds-gray-200);
$ds-gray-300: var(--attraction-ds-gray-300);
$ds-gray-400: var(--attraction-ds-gray-400);
$ds-gray-500: var(--attraction-ds-gray-500);
$ds-gray-600: var(--attraction-ds-gray-600);
$ds-gray-700: var(--attraction-ds-gray-700);
$ds-gray-800: var(--attraction-ds-gray-800);
$ds-gray-900: var(--attraction-ds-gray-900);

$ds-red-050: var(--attraction-ds-red-050);
$ds-red-100: var(--attraction-ds-red-100);
$ds-red-200: var(--attraction-ds-red-200);
$ds-red-300: var(--attraction-ds-red-300);
$ds-red-400: var(--attraction-ds-red-400);
$ds-red-500: var(--attraction-ds-red-500);
$ds-red-600: var(--attraction-ds-red-600);
$ds-red-700: var(--attraction-ds-red-700);
$ds-red-800: var(--attraction-ds-red-800);
$ds-red-900: var(--attraction-ds-red-900);

$ds-yellow-050: var(--attraction-ds-yellow-050);
$ds-yellow-100: var(--attraction-ds-yellow-100);
$ds-yellow-200: var(--attraction-ds-yellow-200);
$ds-yellow-300: var(--attraction-ds-yellow-300);
$ds-yellow-400: var(--attraction-ds-yellow-400);
$ds-yellow-500: var(--attraction-ds-yellow-500);
$ds-yellow-600: var(--attraction-ds-yellow-600);
$ds-yellow-700: var(--attraction-ds-yellow-700);
$ds-yellow-800: var(--attraction-ds-yellow-800);
$ds-yellow-900: var(--attraction-ds-yellow-900);

$ds-green-050: var(--attraction-ds-green-050);
$ds-green-100: var(--attraction-ds-green-100);
$ds-green-200: var(--attraction-ds-green-200);
$ds-green-300: var(--attraction-ds-green-300);
$ds-green-400: var(--attraction-ds-green-400);
$ds-green-500: var(--attraction-ds-green-500);
$ds-green-600: var(--attraction-ds-green-600);
$ds-green-700: var(--attraction-ds-green-700);
$ds-green-800: var(--attraction-ds-green-800);
$ds-green-900: var(--attraction-ds-green-900);

$ds-blue-050: var(--attraction-ds-blue-050);
$ds-blue-100: var(--attraction-ds-blue-100);
$ds-blue-200: var(--attraction-ds-blue-200);
$ds-blue-300: var(--attraction-ds-blue-300);
$ds-blue-400: var(--attraction-ds-blue-400);
$ds-blue-500: var(--attraction-ds-blue-500);
$ds-blue-600: var(--attraction-ds-blue-600);
$ds-blue-700: var(--attraction-ds-blue-700);
$ds-blue-800: var(--attraction-ds-blue-800);
$ds-blue-900: var(--attraction-ds-blue-900);

$ds-font-size-100: var(--attraction-ds-font-size-100);
$ds-font-size-200: var(--attraction-ds-font-size-200);
$ds-font-size-300: var(--attraction-ds-font-size-300);
$ds-font-size-400: var(--attraction-ds-font-size-400);
$ds-font-size-500: var(--attraction-ds-font-size-500);
$ds-font-size-600: var(--attraction-ds-font-size-600);
$ds-font-size-700: var(--attraction-ds-font-size-700);
$ds-font-size-800: var(--attraction-ds-font-size-800);
$ds-font-size-900: var(--attraction-ds-font-size-900);

$ds-font-weight-regular: var(--attraction-ds-font-weight-regular);
$ds-font-weight-medium: var(--attraction-ds-font-weight-medium);
$ds-font-weight-bold: var(--attraction-ds-font-weight-bold);

$ds-leading-tight: var(--attraction-ds-leading-tight);
$ds-leading-normal: var(--attraction-ds-leading-normal);
$ds-leading-relaxed: var(--attraction-ds-leading-relaxed);

$ds-dimmed-light: var(--attraction-ds-dimmed-light);
$ds-dimmed-dark: var(--attraction-ds-dimmed-dark);
$ds-hovering-bg: var(--attraction-ds-hovering-bg);

@mixin transition-colors() {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
