@use '../../token/variable';

.ds-text-input {
  display: block;
  width: 100%;
  height: auto;
  & + & {
    margin: 1.25rem 0px 0px;
  }

  & > label {
    position: relative;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    margin: 0px 0px 0.25rem;
    padding: 0px 0.25rem;
    font-size: variable.$ds-font-size-200;
    font-weight: variable.$ds-font-weight-medium;
    color: variable.$ds-gray-500;
    line-height: variable.$ds-leading-normal;
    white-space: nowrap;
    .dark & {
      color: variable.$ds-gray-400;
    }
    & > span {
      position: absolute;
      top: 0.125rem;
      bottom: 0rem;
      right: -0.25rem;
      font-size: variable.$ds-font-size-300;
      font-weight: variable.$ds-font-weight-medium;
      color: variable.$ds-red-400;
      line-height: variable.$ds-leading-tight;
      white-space: inherit;
      .dark & {
        color: variable.$ds-red-300;
      }
    }
  }

  & > input {
    display: block;
    width: 100%;
    height: 2.5rem;
    box-sizing: border-box;
    padding: 0.5rem 0.75rem;
    border: 1px solid variable.$ds-gray-100;
    font-size: variable.$ds-font-size-300;
    font-weight: variable.$ds-font-weight-regular;
    color: variable.$ds-gray-700;
    border-radius: 0.5rem;
    outline: none;
    background-color: variable.$ds-gray-000;
    @include variable.transition-colors();

    .dark & {
      color: variable.$ds-gray-050;
      border-color: variable.$ds-gray-700;
      background-color: variable.$ds-gray-800;
    }

    &::placeholder {
      color: variable.$ds-gray-500;
      .dark & {
        color: variable.$ds-gray-400;
      }
    }
    &:disabled {
      color: variable.$ds-gray-400 !important;
      background-color: variable.$ds-gray-050 !important;
      cursor: not-allowed;
      .dark & {
        color: variable.$ds-gray-500 !important;
        background-color: variable.$ds-gray-700 !important;
      }
    }

    &:focus,
    .dark &:focus {
      border-color: variable.$ds-blue-400;
    }
  }

  &--background > input {
    background-color: variable.$ds-gray-050;
    .dark & {
      background-color: variable.$ds-gray-700;
    }
    &:focus {
      background-color: variable.$ds-gray-000;
      .dark & {
        background-color: variable.$ds-gray-800;
      }
    }
  }

  &--round-xs > input {
    border-radius: 0.25rem;
  }
  &--round-md > input {
    border-radius: 0.75rem;
  }
  &--round-lg > input {
    border-radius: 1rem;
  }
  &--round-full > input {
    padding: 0.5rem 1rem;
    border-radius: 9999px;
  }

  & > p {
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 0.75rem 0px 0px;
    padding: 0px 0.25rem;
    font-size: variable.$ds-font-size-300;
    font-weight: variable.$ds-font-weight-regular;
    color: variable.$ds-gray-500;
    line-height: variable.$ds-leading-normal;
    word-break: keep-all;
    .dark & {
      color: variable.$ds-gray-400;
    }
  }

  &--danger {
    & > input {
      &,
      &:focus {
        border-color: variable.$ds-red-400;
      }
      .dark &,
      .dark &:focus {
        border-color: variable.$ds-red-300;
      }
    }
    & > p {
      color: variable.$ds-red-400;
      .dark & {
        color: variable.$ds-red-300;
      }
    }
  }
  &--warn {
    & > input {
      &:focus {
        border-color: variable.$ds-yellow-400;
      }
      .dark &:focus {
        border-color: variable.$ds-yellow-300;
      }
    }
    & > p {
      color: variable.$ds-yellow-400;
      .dark & {
        color: variable.$ds-yellow-300;
      }
    }
  }
  &--success {
    & > input {
      &:focus {
        border-color: variable.$ds-green-400;
      }
      .dark &:focus {
        border-color: variable.$ds-green-300;
      }
    }
    & > p {
      color: variable.$ds-green-400;
      .dark & {
        color: variable.$ds-green-300;
      }
    }
  }

  &--size-lg {
    & + & {
      margin: 1.5rem 0px 0px;
    }
    & > label {
      margin: 0px 0px 0.5rem;
    }
    & > input {
      height: 3rem;
      font-size: variable.$ds-font-size-400;
    }
    & > p {
      margin: 1rem 0px 0px;
    }
  }
}
