@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input::-ms-clear,
  input::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }
  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button,
  input::-webkit-search-results-button,
  input::-webkit-search-results-decoration {
    display: none;
  }
  body.service {
    @apply relative min-h-dvh min-w-[280px] break-keep bg-gray-50 text-gray-700 dark:bg-gray-900 dark:text-gray-100;
  }
  body.lock-scroll {
    @apply touch-none overflow-hidden;
  }
}

@layer components {
  .blind {
    @apply absolute size-px overflow-hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }
  .scrollbar-hidden {
    -ms-overflow-style: none;
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  ol.numbering-list {
    list-style: none;
    counter-reset: list-number;
  }
  ol.numbering-list > li,
  ul.marker-list li {
    counter-increment: list-number;
    @apply relative pl-5;
  }
  ol.numbering-list > li::before {
    content: counter(list-number) '. ';
    @apply absolute left-0 top-0;
  }
  ol.numbering-list li + li,
  ul.marker-list li + li {
    @apply mt-2;
  }
  ol.numbering-list > li > ol {
    @apply my-3 pl-8;
  }
  ol.numbering-list > li > ol > li {
    list-style-type: hangul;
  }
  ul.marker-list li::before {
    content: '';
    @apply absolute left-2 top-2.5 size-1 rounded-full bg-gray-600 dark:bg-gray-100;
  }
  ul.marker-list > li > ul {
    @apply my-3 pl-2;
  }
}
