.embla {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}

.embla__viewport {
  position: relative;
  overflow: hidden;
}

.embla__container {
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 auto;
  min-width: 0;
  max-width: fit-content;
  height: 100%;
  padding-left: var(--slide-spacing);
}

.embla__left__button {
  position: absolute;
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: left;
  align-items: center;
  background: linear-gradient(to left, transparent 0%, #fff 50%);
  left: 0;
  bottom: 0;
}

.embla__right__button {
  position: absolute;
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: right;
  align-items: center;
  background: linear-gradient(to right, transparent 0%, #fff 50%);
  right: 0;
  bottom: 0;
}

.embla__blur__left {
  position: absolute;
  z-index: 20;
  height: 100%;
  width: 30px;
  background: linear-gradient(to left, transparent 0%, #fff 100%);
  left: 0;
  bottom: 0;
}

.embla__blur__right {
  position: absolute;
  z-index: 20;
  height: 100%;
  width: 30px;
  background: linear-gradient(to right, transparent 0%, #fff 100%);
  right: 0;
  bottom: 0;
}

@media (prefers-color-scheme: dark) {
  .embla__left__button {
    background: linear-gradient(to left, transparent 0%, #2a2e32 50%);
  }

  .embla__right__button {
    background: linear-gradient(to right, transparent 0%, #2a2e32 50%);
  }

  .embla__blur__left {
    background: linear-gradient(to left, transparent 0%, #2a2e32 100%);
  }

  .embla__blur__right {
    background: linear-gradient(to right, transparent 0%, #2a2e32 100%);
  }
}
